.env
.DS_Store
.idea
.vscode
.pytest_cache
.ruff_cache
.mypy_cache
.pytest_cache
.ruff_cache
.mypy_cache
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
*.pyzwz
server/venv/
server/__pycache__/
server/*.pyc
server/*.pyo
server/*.pyd
server/*.pyw
server/*.pyz
server/*.pywz
server/*.pyzw
server/*.pyzwz